streamlit
langfuse
fastapi
uvicorn
elasticsearch
autogen-agentchat
autogen-ext[azure]
duckduckgo_search==6.4.2
wikipedia
aiohttp
sentence_transformers
neo4j 
langchain-neo4j
langchain-openai
ragas
azure-ai-contentsafety
llama_cloud_services
llama-index-embeddings-huggingface